body{
	background: #bf0000;
	background: linear-gradient(right, #ff7f00, #bf0000, #ff7f00); /* Standard syntax */
	background: -webkit-linear-gradient(right, #ff7f00, #bf0000, #ff7f00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff7f00, #bf0000, #ff7f00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff7f00, #bf0000, #ff7f00); /* For Firefox 3.6 to 15 */
}

#headLogo{
	position: relative;
	height: 25%;
	width: 25%;
	top: 0%;
	left: 0%;
}

#bar{
	position: relative;
	left: -7%;
}

h1{
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #333333;
}

#info{
	text-align: center;
}

#extension{
	font-size: 10px;
	text-align: center;
	color: #333333;
}

#extLink{
	font-size: 11px;
	color: #000;
}

#blank2{
	font-size: 20px;
	text-align: center;
	color: white;
}

#blank{
	text-align: center;
}

#credit{
	text-align: center;
	font-size: 10px;
}

#logo{
	height: 123px;
	width: 123px;
	position: relative;
	top: 0%;
	left: 46%;
}

.button{
	background: url(../resc/logo.png) no-repeat;
	background-size: 55px 55px;
	height: 55px;
	width: 55px;
	border: none;
	padding: 15px 15px;
	color: white;
	text-align: center;
    text-decoration: none;
	font-size: 9px;
	cursor: pointer;
	position: relative;
	left: 48%;
}

.button:active{
	background: url(../resc/logoClick.png) no-repeat;
	background-size: 55px 55px;
	color: #b3b3b3;
}

#egg{
	position: relative;
	display: block; 
	width: 100px; height: 100px; /* you'll have to set the H/W to the H/W of you text*/
	text-align: center;
	text-decoration: none; /* gets rid opf the old breadcrumbs*/
	color: black; /* sets text color to black*/
	background-color: transparent; /* speaks for itself*/
	font: 11px verdana; /* sets font size then font style*/
}
#egg:hover {
	
	background-image: url('../resc/meh.jpg');
	background-repeat: no-repeat; 
	background-size: 50px 50px;
	width: 50px; 
	height: 50px;
	border: 1px solid black;
}

#egg .text{
	position: relative;
	text-align: center;
	bottom: 48%;
	right: 4%;
	color: white;
	visibility: hidden;
}

#egg:hover .text{
	visibility: visible;
}

.button {
    background-color: transparent;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50%;
    margin: 4px 2px;
    cursor: pointer;
	position: relative;
	left: 48%;
}

.progress {
	position: relative;
	background: #333333; 
	border: 1px solid #000; 
	border-radius: 1px; 
	height: 20px;
	width: 20%;
	left: 40%;
}

.progress-bar-custom {
	background: rgba(66, 139, 202, 1);
} 
.progress-striped .progress-bar-custom {
	background-color: #bf0000;
	background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25, #ff7f00,color-stop(1,transparent),color-stop(1,transparent),color-stop(1, #ff7f00),color-stop(1, #ff7f00),color-stop(1,transparent),to(transparent))); 
	background-image: -webkit-linear-gradient(45deg, #ff7f00 25%,transparent 25%,transparent 50%,#ff7f00 50%,#ff7f00 75%,transparent 75%,transparent); 
	background-image: linear-gradient(45deg, #ff7f00 25%,transparent 25%,transparent 50%,#ff7f00 50%,#ff7f00 75%,transparent 75%,transparent); 
	background-size: 40px 40px;
}